.tg-calendar-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff93;
}

.month-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-day, .day-name {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    text-align: center;
}

.calendar-day {
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.prev, .next {
    cursor: pointer;
}

.current-day {
    background-color: rgb(185, 172, 151);
    font-weight: bold;
}

.selected-day {
    background-color: #4CAF50;
    color: white;
}